Wrapper/*.iml
Wrapper/.gradle
Wrapper/local.properties
Wrapper/.idea/caches
Wrapper/.idea/libraries
Wrapper/.idea/modules.xml
Wrapper/.idea/workspace.xml
Wrapper/.idea/navEditor.xml
Wrapper/.idea/assetWizardSettings.xml
Wrapper/.DS_Store
Wrapper/build
Wrapper/app/build
Wrapper/digitalinkwrapper/build
Wrapper/captures
Wrapper/.externalNativeBuild
Wrapper/.cxx
Wrapper/local.properties
